<!-- footer -->
<footer class="footer">
<nav class="navbar">
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 col-lg-7">
          <p class="text-white"><font size='4'><b>DapJak</b></font><font size='2'> is a news and information content platform.
          Powered by its own unique technology, DapJak is the go-to source for all the latest
          news, highlights and entertainment content for people around the world. </font></p>
    </div>
<!-- About us and privacy terms -->
    <div class="col-lg-1"></div>
    <div class="col-3 col-md-3 col-sm-3 col-lg-1 text-center">
      <a href="{% url 'blog:aboutus' %}" class="font-weight-normal">ABOUT US</a>
    </div>
    <div class="col-3 col-md-3 col-sm-3 col-lg-1 text-center">
      <a href="{% url 'blog:subscribe' %}" class="font-weight-normal">SUBSCRIBE</a>
    </div>
    <div class="col-3 col-md-3 col-sm-3 col-lg-1 text-center">
      <a href="{% url 'blog:shop' %}" class="font-weight-normal">SHOP</a>
    </div>
    <div class="col-3 col-md-3 col-sm-3 col-lg-1 text-center">
      <a href="{% url 'blog:contact' %}" class="font-weight-normal">CONTACT</a>
    </div>
  </div>

<!-- social media buttons -->
  <div class="container-fluid con">
    <a href="https://www.facebook.com/feedxpress/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/feedxpress" target="_blank" class="fa fa-twitter"></a>
    <a href="https://pinterest.com/feedxpress/" target="_blank" class="fa fa-pinterest"></a>
    <a href="https://www.instagram.com/feedxpress/" target="_blank" class="fa fa-instagram"></a>
  </div>


<!-- All rights reserved -->
    <div class="container">
      <div class="text-center text-white">
      &copy; 2019 DapJak, Inc. All rights reserved.
      </div>
    </div>
  </div>
</nav>
</footer>
