{% extends "base.html" %}
{% block title %}
  About Us
{% endblock %}
{% block body %}
<div class="container top-aboutus">
  <div class="bg-white py-5">
    <div class="col-md-6 px-5">
      <h2 class="h2">About Us</h2>
      <p>DapJak is a global media and entertainment company. We cover the latest news and events happening globally
      and present it in a succinct way.<br>
      <br>Powered by its own unique technology, DapJak is the go-to-source for all the
      latest news, highlights and entertainment content for people around the world.
      </p>
    </div>
  </div>
</div>
{% endblock %}
