{% extends "base.html" %}
{% block title %}
  {{ posts.heading }}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
{% load static from static %}
<body>
  <div class="container py-5">
    <div class="row">
    <div class="col-lg-8 col-12 m-0 p-0">

    {% for posts in posts|slice:":5" %}
      <div class="container-fluid bg-white pt-3 mb-4 border border-custom" id="{{ posts.id }}">
        <div class="containers">
          <h1>{{ posts.title }}</h1>
          <h5 class="text-muted">{{ posts.sub_title }}</h5>
          <br>
          <img src="{{ posts.cover_image.url }}" class="jumbotron2">
          <div style="text-align: center; width: 100%;">
          <small class="text-muted" >{{ posts.credit }}</small>
          </div>
      </div>
      <br>
      <div class="row py-2">
        <div class="col-md-2">
          <blockquote class="blockquote text-right">
            {% if request.user.is_authenticated %}
            <a class="blockquote-footer" href="{% url 'blog:user-posts' posts.author %}"><small>{{ posts.author }}</small></a>
            {% else %}
            <a class="blockquote-footer" href="{% url 'blog:user-posts' username='my' %}"><small>{{ posts.author }}</small></a>
            {% endif %}
            <p style="margin-top: -10px;"><small class="text-muted" style="font-size: 13px;">{{ posts.date_posted|date:"M d" }}</small></p>
          </blockquote>
        </div>
        <div class="col-md-10">
          <p class="text-justify post_content">{{ posts.content|linebreaksbr }}</p>
          <a href="{{posts.get_absolute_url}}">Read More</a>
        </div>
      </div>
      <!-- Buttons for share and like -->
      <div class="dropdown flex-box">
        <button style="background: white; border: none; font-size: 20px; color: #282828;" id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-angle-down"></i></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        {% if posts.author ==  request.user %}
          <ul class="m-0 p-0"><a href="{% url 'blog:post-update' pk=posts.id slug=posts.slug %}" class="dropdown-item">Update</a></ul>
          <ul class="m-0 p-0"><a href="{% url 'blog:post-delete' pk=posts.id slug=posts.slug %}" class="dropdown-item">Delete</a></ul>
        {% else %}
          <ul class="m-0 p-0"><a href="" class="class_reportuser dropdown-item" id="{{ posts.id }}">Report Article</a></ul>
        {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
    </div>

      <!--  -->

    <div class="col-lg-4 col-12 m-0 p-0">

        {% for post in post|slice:":5" %}
        <div class="container-fluid p-0 pl-4">
          {% if post.id != posts.id %}

          <div class="mb-4 border">
            <img src="{{ post.jumbotron.url }}" class="img-fluid" height="100%" width="100%">


            <div class="bg-white pt-1 px-2">
                   <p class="mb-n1 pb-0" style="font-size:14px;">{{ post.author.first_name }} <span><a href='{% url "blog:user-posts" post.author %}' style="font-size: 14px;">@{{ post.author }}</a>
                   </span>
                   </p>
                   <small class="text-muted pt-nr">{{ post.date_posted|date:"M d" }}</small>


             <h6 class="m-0 p-0 mt-1">{{ post.title }}</h6>
             <a class="m-0 p-0" href="{{post.get_absolute_url}}" style="font-size: 14px;">Read More</a>
           </div>
           </div>

            {% endif %}
        </div>

        {% endfor %}
      </div>




    </div>
    </div>

</body>

{% endblock %}
