{% extends "base.html" %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 bg-white">

<!--  -->
      <div class="twPc-div mt-5" style="border: none;">
        <h1 class="p-3 mb-0 pb-0">{{ object.title }}</h1>
        <h5 class="pl-3 pt-0 mt-0 text-muted">{{ object.sub_title }}</h5>
        <div class="row pl-4 mt-4 mb-3 pb-3" style="display: flex; flex-wrap: wrap;">
          <div class="pl-1" style="flex: 10%;">
          <img src="{{ object.author.profile.image.url }}" class="rounded-circle post-article-img">
          </div>
            <div class="pt-1 m-0" style="flex: 90%;">
              <p class="post-detail-author p-0 m-0">{{ object.author.first_name }}</p>
              <a class="post-detail-author p-0 m-0" href="{% url 'blog:user-posts' object.author.username %}" style="font-weight: 400;">@{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"M d" }}</small>
            </div>
        </div>
        <img src="{{ object.cover_image.url }}" class="jumbotron1">
        <div style="text-align: center; width: 100%;">
        <small class="text-muted" >{{ object.credit }}</small>
        </div>
      </div>
  <!--  -->
    <div class="container-fluid bg-white m-0 p-3">
    <br>
          <p class="text-justify text-wrap">{{ object.content }}</p>
    </div>
  </div>

  <div class="col-lg-2 col-md-2"></div>

</div>
</div>



{% endblock %}
