{% extends "base.html" %}
{% block body %}
   <!-- <div class="content-section">

   </div> -->

   <div class="content">
     <legend class="border-bottom pl-4 mb-4">Delete Post</legend>
     <div class="container top-aboutus">
       <div class="bg-white py-2">
         <div class="col-md-6 px-2">

           <p class="pt-2">Are you sure you want to delete the post "{{ object.title }}"</p>
           <form method="POST">
               {% csrf_token %}
               <fieldset class="form-group">

               </fieldset>
               <div class="form-group">
                   <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                   <a class="btn btn-outline-secondary" href="{% url 'blog:index' %}">Cancel</a>
               </div>
           </form>
         </div>
       </div>
     </div>
   </div>
{% endblock %}
