{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from static %}
{% block body %}
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 col-12 bg-white">
  <form class="text-center border border-light p-5" enctype= 'multipart/form-data' method="post">
    {% csrf_token %}

<!-- Title -->
  {{ form.non_field_errors }}
    <div class="fieldWrapper">
  {{ form.title.errors }}
    <label for="{{ form.title.id_title }}"></label>
  {{ form.title }}
    </div>
<!-- Sub Title -->
  {{ form.non_field_errors }}
    <div class="fieldWrapper">
  {{ form.sub_title.errors }}
    <label for="{{ form.sub_title.id_sub_title }}"></label>
  {{ form.sub_title }}
    </div>
<!-- cover_image -->
  {{ form.non_field_errors }}
    <div class="fieldWrapper">
  {{ form.cover_image.errors }}
    <label for="{{ form.cover_image.id_cover_image }}"></label>
  {{ form.cover_image }}
    </div>

<!-- credit -->
  {{ form.non_field_errors }}
    <div class="fieldWrapper">
  {{ form.credit.errors }}
    <label for="{{ form.credit.id_credit }}"></label>
  {{ form.credit }}
    </div>
<!-- Content -->
  {{ form.non_field_errors }}
    <div class="fieldWrapper">
  {{ form.content.errors }}
    <label for="{{ form.content.id_content }}"></label>
  {{ form.content }}
    </div>
    <button class="btn btn-primary btn-block" type="submit" style="width: auto; margin-top: 20px;">Publish</button>
  </form>
  </div>

  </div>
</div>
{% block javascript %}
<script type="text/babel">
  $('#id_title').focus();


</script>
{% endblock %}

</body>
{% endblock %}
