{% extends "base.html" %}

{% block body %}

  <div class="content">
    <div class="container top-aboutus">
      <div class="bg-white py-5">
        <div class="col-md-6 px-5">
          <h2 class="h2">Shop</h2>
          <p class="pt-2">The shop is currently under construction.
            <br>  Please click down below to get notified. Thank you.
          <br></p>
          <form action="{% url 'blog:subscribe' %}">
            <button type="submit" class="btn btn-primary text-right">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
