{% extends "base.html" %}
{% block title %}
  {{ posts.heading }}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
{% load static from static %}
<body>
  <div class="content">
    <div class="container top-aboutus">
      <div class="bg-white py-5">
        <div class="col-md-6 px-5">
          <h2 class="h2">Hola!!!!</h2>
          <p class="pt-2 test-new">please follow along so that you don't get lost :p
          <br></p>
            <button type="submit" class="btn btn-primary text-right" id="clickme">Click Me!</button>
            <div id="example"></div>
        </div>
      </div>
    </div>
  </div>
<script type="text/babel">
  $("#clickme").click(function(){

  })
  class App extends React.Component{

    render(){
      return(
      <div className="app-content">
        <p>My name is Sanchit</p>
      </div>
      )
    }
  }
  ReactDOM.render(<App />, document.getElementById('example'));

</script>

</body>

{% endblock %}
